In [62]:
print(" "*25,"Atul_Arya\n"," "*24,"CSC/22/11\n","-"*60,
'''
7. Consider the following data frame containing a family name, gender of the family member and her/his monthly
income in each record.
FamilyName Gender MonthlyIncome_(Rs.)
Shah Male 44000.00
Vats Male 65000.00
Vats Female 43150.00
Kumar Female 66500.00
Vats Female 255000.00
Kumar Male 103000.00
Shah Male 55000.00
Shah Female 112400.00
Kumar Female 81030.00
Vats Male 71900.00
Write a program in Python using Pandas to perform the following:
      
a. Calculate and display familywise gross monthly income.
b. Display the highest and lowest monthly income for each family name
c. Calculate and display monthly income of all members earning income less than Rs. 80000.00.
d. Display total number of females along with their average monthly income
e. Delete rows with Monthly income less than the average income of all members
''')

                          Atul_Arya
                          CSC/22/11
 ------------------------------------------------------------
7. Consider the following data frame containing a family name, gender of the family member and her/his monthly
income in each record.
FamilyName Gender MonthlyIncome_(Rs.)
Shah Male 44000.00
Vats Male 65000.00
Vats Female 43150.00
Kumar Female 66500.00
Vats Female 255000.00
Kumar Male 103000.00
Shah Male 55000.00
Shah Female 112400.00
Kumar Female 81030.00
Vats Male 71900.00
Write a program in Python using Pandas to perform the following:

a. Calculate and display familywise gross monthly income.
b. Display the highest and lowest monthly income for each family name
c. Calculate and display monthly income of all members earning income less than Rs. 80000.00.
d. Display total number of females along with their average monthly income
e. Delete rows with Monthly income less than the average income of all members

In [56]:
import pandas as pd

df = pd.read_csv("data_frame.csv",delimiter=" ")
df

  FamilyName  Gender  MonthlyIncome_(Rs.)
0       Shah    Male              44000.0
1       Vats    Male              65000.0
2       Vats  Female              43150.0
3      Kumar  Female              66500.0
4       Vats  Female             255000.0
5      Kumar    Male             103000.0
6       Shah    Male              55000.0
7       Shah  Female             112400.0
8      Kumar  Female              81030.0
9       Vats    Male              71900.0

In [57]:
#a. Calculate and display familywise gross monthly income.

families = df.groupby("FamilyName")
families["MonthlyIncome_(Rs.)"].sum()

FamilyName
Kumar    250530.0
Shah     211400.0
Vats     435050.0
Name: MonthlyIncome_(Rs.), dtype: float64

In [58]:
# b. Display the highest and lowest monthly income for each family name

highestIncome = families["MonthlyIncome_(Rs.)"].max()
lowestIncome = families["MonthlyIncome_(Rs.)"].min()
FamilyNames = families["FamilyName"].unique()
for i in range(len(FamilyNames)):
    print(f"highest Incode of {FamilyNames[i]}'s : {highestIncome[i]}")
    print(f"lowest Incode of {FamilyNames[i]}'s : {highestIncome[i]}")

print("\n\n")

highest Incode of ['Kumar']'s : 103000.0
lowest Incode of ['Kumar']'s : 103000.0
highest Incode of ['Shah']'s : 112400.0
lowest Incode of ['Shah']'s : 112400.0
highest Incode of ['Vats']'s : 255000.0
lowest Incode of ['Vats']'s : 255000.0

/tmp/ipykernel_5283/3072639210.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"highest Incode of {FamilyNames[i]}'s : {highestIncome[i]}")
/tmp/ipykernel_5283/3072639210.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"lowest Incode of {FamilyNames[i]}'s : {highestIncome[i]}")

In [59]:
#c. Calculate and display monthly income of all members earning income less than Rs. 80000.00.

below_80000_income = df[df["MonthlyIncome_(Rs.)"] < 80000]
below_80000_income

  FamilyName  Gender  MonthlyIncome_(Rs.)
0       Shah    Male              44000.0
1       Vats    Male              65000.0
2       Vats  Female              43150.0
3      Kumar  Female              66500.0
6       Shah    Male              55000.0
9       Vats    Male              71900.0

In [60]:
# d. Display total number of females along with their average monthly income

female_income = df[df["Gender"] == "Female"]
avrg_female_income = female_income["MonthlyIncome_(Rs.)"].mean()
no_of_females = female_income.shape[0]

print(f'There total of {no_of_females} with average income : {avrg_female_income}')

There total of 5 with average income : 111616.0

In [61]:
# e. Delete rows with Monthly income less than the average income of all members

avrg = df["MonthlyIncome_(Rs.)"].mean()
less_than_avrg = df[df["MonthlyIncome_(Rs.)"] < avrg]
df.drop(less_than_avrg.index,inplace=True)
df

  FamilyName  Gender  MonthlyIncome_(Rs.)
4       Vats  Female             255000.0
5      Kumar    Male             103000.0
7       Shah  Female             112400.0