<a href="https://colab.research.google.com/github/Atul101-oss/Aryabhatta/blob/main/DSE_practical4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
print(" "*25,"Atul_Arya\n"," "*24,"CSC/22/11\n","-"*60,
'''
Problem!
Consider two excel files having attendance of  two workshops, each of duration 5 days.
Each file has three fields ‘Name’, ‘Date, duration (in minutes) where names may be repetitvewithin a file.
Note that duration may take one of three values (30, 40, 50) only.
Import the data into two data frames and do the following:
''')

                          Atul_Arya
                          CSC/22/11
 ------------------------------------------------------------
Problem!
Consider two excel files having attendance of  two workshops, each of duration 5 days.
Each file has three fields ‘Name’, ‘Date, duration (in minutes) where names may be repetitvewithin a file.
Note that duration may take one of three values (30, 40, 50) only.
Import the data into two data frames and do the following:

In [ ]:
print("a.)  Perform merging of the two data frames to find the names of students who had attended both workshops.")

xls = pd.ExcelFile('attendence_sheet.xlsx')
df1 = pd.read_excel(xls,'Sheet1')
df2 = pd.read_excel(xls,'Sheet2')

merged_df = pd.merge(df1,df2, on='Name')
print(f"students who attended both workshops :\n{merged_df['Name']}")

a.)  Perform merging of the two data frames to find the names of students who had attended both workshops.
students who attended both workshops :
0      Atul
1    Shivam
Name: Name, dtype: object

In [ ]:
print("b.)  Find names of all students who have attended a single workshop only.")

both_df = pd.concat([df1['Name'],df2['Name']],ignore_index=True)
both_df.drop_duplicates(keep=False,inplace=True,ignore_index=True)
print(f"Students those attend only single workshop :\n{both_df}")

b.)  Find names of all students who have attended a single workshop only.
Students those attend only single workshop :
0          Neha
1       Tanishk
2        Sanjay
3       Shivani
4     Shivanshi
5       Piyushi
6     Vanshika
7         Anash
8      shivansh
9       shivani
10        Karan
11       Satvik
12        Rakhi
13        Rohit
Name: Name, dtype: object

In [ ]:
print("c.)  Merge two data frames row-wise and find the total number of records in the data frame.")

merge_R = pd.concat([df1,df2],ignore_index=True)
print(f"Total no. of records after merging : {len(merge_R)}")

c.)  Merge two data frames row-wise and find the total number of records in the data frame.
Total no. of records after merging : 18

In [ ]:
print("d.)  Merge two data frames row-wise and use two columns viz. names and dates as multi-row indexes. Generate descriptive statistics for this hierarchical data frame")

new_df = merge_R.set_index(['Name','Date'])
new_df.describe()

d.)  Merge two data frames row-wise and use two columns viz. names and dates as multi-row indexes. Generate descriptive statistics for this hierarchical data frame

       Duration    Duration
count   9.000000   9.000000
mean   45.555556  47.777778
std    12.360331  13.944334
min    30.000000  30.000000
25%    30.000000  30.000000
50%    50.000000  50.000000
75%    50.000000  60.000000
max    60.000000  60.000000

In [ ]:
import pandas as pd

data = {
    'Year': [2022, 2022, 2022, 2023, 2023],
    'Quarter': [1, 2, 3, 1, 2],
    'Month': ['January', 'April', 'July', 'January', 'April'],
    'Sales': [100, 150, 200, 120, 180]
}
df = pd.DataFrame(data)
# print(df)


# Create a multi-row index using 'Year', 'Quarter', and 'Month'
df.set_index(['Year', 'Quarter', 'Month'], inplace=True)
df

                      Sales
Year Quarter Month
2022 1       January    100
     2       April      150
     3       July       200
2023 1       January    120
     2       April      180